@model QuanLyPhongKham3.Models.Prescription

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Date of Create")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfCreate)
        </dd>

        <dt>
            @Html.Label("Doctor Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.Label("Patient Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>



    </dl>
    <table class="table">
        <tr>
            <th>
                No
            </th>
            <th>
                Medicine name
            </th>
            <th>
                Unit
            </th>
            <th class="text-right">
                Quantity
            </th>
            <th class="text-right">
                Morning
            </th>
            <th class="text-right">
                Afternoon
            </th>
            <th class="text-right">
                Noon
            </th>
            <th class="text-right">
                Night
            </th>
            <th>
                Usage
            </th>
        </tr>

        @foreach (var item in Model.PrescriptionDetails.Select((x, i) => new { Data = x, Index = i }))
        {
            <tr>
                <td>
                    @(item.Index + 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.Medicine.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.Medicine.Unit)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Data.Quantity)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Data.Morning)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Data.Noon)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Data.Afternoon)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Data.Night)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.Using)
                </td>

            </tr>
        }
    </table>

</div>
<p>
    <div style="margin-left:93%;border:solid;border-radius:10px;width:5%;height:30px;background-color:lightgreen">
        <span style="font-size:large;text-decoration:none">@Html.ActionLink("Finish", "Checkout", new { pres_id = Model.ID })</span> 
    </div>
</p>
