@model QuanLyPhongKham3.Models.Medicine

@{
    ViewBag.Title = "Details";
}

<h2>Detail</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.Label("Medicine Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.Label("Unit")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.Label("Number")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.Label("Cost")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.Label("Price")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.Label("Medicine Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicineType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Black", "Index")
</p>
